{% extends "homebase.html" %}
{% block title %}Search{% endblock %}
{% block sidebar %}
    {% include "sidebar2.html" %}
{% endblock %}
{% block body %}
<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Contact</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
    <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">



					<div class="col-md-20">
						<div class="billing-details">

                            <div class="section-title">
                                <h3 class="title">Search Company</h3>


							</div>
							<div>

                                    <!--<p>There are no results for your query.</p>-->
                                    <div class="header-search ">
                                        <form action="{% url 'EaganJones:uploadcsv' %}" method="post" enctype="multipart/form-data">
    									    {% csrf_token %}
    									    <input type="file" name="csv_file1">
    									    <input type="submit" value="Upload">
									     </form>
                                    </div>
										<div class="container">
											<div></br></br></br></div>
										</div>





							</div>
                        </div>

                    </div>
                    <div class="col-md-20">
						<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">Company Mega Data</h3>
							</div>
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>CIK</th>
										<th>Company Name</th>
										<th class="text-center">Entity Id</th>
										<th class="text-center">Primary Exchange</th>
										<th class="text-center">Market Operator</th>
										<th class="text-center">Market Tier</th>
										<th class="text-center">Primary Symbol</th>
										<th class="text-center">Sic Code</th>
										<th class="text-center">Sic Description</th>

									</tr>
								</thead>
								<tbody>
								{% for rs in data_list %}
									<tr>
										<td class="price text-center">{{ rs.cik }}</td>
										<td class="price text-center">{{ rs.companyname }}</td>
										<td class="price text-center">{{ rs.entityid }}</td>
										<td class="price text-center">{{ rs.primaryexchange }}</td>
										<td class="price text-center">{{ rs.marketoperator }}</td>
										<td class="price text-center">{{ rs.markettier }}</td>
										<td class="price text-center">{{ rs.primarysymbol }}</td>
										<td class="price text-center">{{ rs.siccode }}</td>
										<td class="price text-center">{{ rs.sicdescription }}</td>


									</tr>
								{% endfor %}
								</tbody>
							</table>




						</div>
					</div>

			<!-- /row -->
		        </div>

		<!-- /container -->
	    </div>
    </div>
	<!-- /section -->
{% endblock %}








